@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 400px;
    height: 90vh;
    background: #fff;
    position: relative;
}

.header{
    background-color: #85ADE9;
    display: grid;
    place-items: center;
}
.header h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    color: #fff;
    font-weight: 600;
    margin: 0.2em 0;
    user-select: none;
}

.filter{
    /* border: 1px solid black; */
    text-align: end;
    padding: 1.6em 0.8em 0.6em 0;
}

.font-wt{
    font-weight: 500;
}

.form-check-label:nth-of-type(1){
    color: #85ADE9;
}
.form-check-label:nth-of-type(2){
    color: #F48926;
}
.form-check-label:nth-of-type(3){
    color: #C3E875;
}

.form-check-label:nth-of-type(1),
.form-check-label:nth-of-type(2)
{
    margin-right: 0.7em;
}

.form-check-input:nth-of-type(1),
.form-check-input:nth-of-type(2),
.form-check-input:nth-of-type(3)
{
    margin-right: 0.2em;
}

.todos-container{
    /* border: 2px solid black; */
    width: calc(100% - 20px);
    height: calc(100% - 172px);
    position: relative;
    margin: 0 auto;
    overflow-y: auto;
}

.short-msg{
    position: absolute;
    font-size: 18px;
    top: 25%;
    left: 3%;
    color: rgba(0, 0, 0, 0.427);
    font-weight: 500;
    user-select: none;
}

.todos-container ul{
    list-style: none;
    /* border: 2px solid orange; */
}

.todo-item{
    background-color: #F48926;
    /* border: 2px solid blue; */
    border-radius: 8px;
    margin-bottom: 0.8em;
    padding: 1em 3.5em 1em 0.8em;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.todo-text{
    padding: 0 0.4em;
}

.complete{
    background-color: #C3E875;
}

input[type="checkbox"]{
    /* display: inline-block; */
    transform: scale(1.5);
    cursor: pointer;
    margin-right: 10px;
    align-self: center;
}

.trash-btn{
    position: absolute;
    font-size: 17px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0.1rem 0.4rem;
    border-radius: 0.05em;
    border: none;
    outline: none;
    background-color: rgba(241, 198, 9, 0.877);
    color: white;
}

.trash-btn:hover{
    background-color: transparent;
}

.trash-btn:active{
    background-color: rgba(241, 198, 9, 0.877);
}

.trash-btn i{
    pointer-events: none;
}

.add-todo{
    position: absolute;
    z-index: 10;
    bottom: 1em;
    width: 100%;
    padding: 0 0.6em;
}

.add-todo input{
    font-size: 1.5em;
    border: none;
    outline: none;
    border-bottom: 2px solid #85ADE9;
    width: 100%;
    padding: 0.2em 2em 0.2em 0.2em;
    color: rgba(0, 0, 0, 0.727);
}

input::placeholder{
    color:rgba(0, 0, 0, 0.427);
    user-select: none;
}


.add-todo button{
    position: absolute;
    right: 0.6em;
    bottom: 0.5em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-todo button i{
    font-size: 40px;
    cursor: pointer;
    color: #85ADE9;
}
.add-todo button i:hover{
    color: #108DE9;
}

.add-todo button i:active{
    color: #85ADE9;
}
